
html, body {
    color: black;
    font-family: monospace;
}

body {
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: rgb(202, 199, 199);
}

* {
    border: 6px;
    border-style: solid;
    border-radius: 8px;
    border-color: rgb(0,0,0);
    padding: 20px;
}


/* Top Block */

.top-block {
    display: flex;

    width: 1000px;

    justify-content: center;
    align-items: center;

    font-family: monospace;
    font-size: 48px;
}



/* Middle Block */

.middle-block {
    display: flex;

    width: 1000px;
    height: 500px;

    justify-content: center;
    align-items: center;
}

.gridBox {
    display: inline-block;

    height: 10cm;
    width: 10cm;

}

.gridBox div:hover {
    background-color: black;
}




/* Work ons for later

.left-middle-block {
    display: flex;
}

.right-middle-block {
    display: flex;

    flex-direction: column;

    height: 400px;

    width: 750px;

    margin-left: 10px;
}

.top-rmb {
    display: flex;

    flex-direction: row;

    justify-content: space-around;

    height: 100px;
}

.bottom-rmb {
    display: flex;

    height: 300px;
}

*/


/* Bottom block */

.bottom-block {
    display: flex;

    width: 1000px;

    justify-content: center;
    align-items: center;

}

button {

    background-color: rgb(109, 108, 106);

    font-size: 28px;
}










