
body{
    display: flex;
    justify-content: center;
    text-align: center;
}

.board{
    width: 500px;
    height: 500px;
    display: grid;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 15px;
}

button{
    margin: 5px;
    padding: 5px;
}